<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MockMate AI{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav class="navbar">

        <a href="/" class="logo">
            MockMate AI
        </a>

        <ul class="nav-links">

            <li><a href="/">Home</a></li>

            <li><a href="/setup">Interview</a></li>

            <li><a href="#features">Features</a></li>

            <li><a href="/about">About</a></li>

        </ul>

    </nav>


    {% block content %}
    {% endblock %}
<footer>

    <p>

        © 2026 MockMate AI • Developed by Moksh Thakur

    </p>

</footer>
</body>
</html>